@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-pastel-cream {
  background-color: #FDF1DC;
}

.bg-pastel-blue {
  background-color: #A6DCEF;
}

.text-pastel-pink {
  color: #FFC1CC;
}

.text-pastel-green {
  color: #D6EFC7;
}

.text-pastel-yellow {
  color: #FFE5B4;
}

.bg-pastel-purple {
  background-color: #C5B4E3;
}

.hover\:bg-pastel-pink:hover {
  background-color: #FFC1CC;
}
